@import "tailwindcss";
@config "./tailwind.config.js";

/* Scrollbar */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: #2a0811; 
}
::-webkit-scrollbar-thumb {
  background: #C5A059; 
  border-radius: 4px;
}

/* Utilities */
.perspective-1000 {
  perspective: 1000px;
}
.transform-style-3d {
  transform-style: preserve-3d;
}
.backface-hidden {
  backface-visibility: hidden;
}